/* Colors:
 * Main - #00589F
 * Accent: #5084d1
 * Dark Accent: #003070
 * Gray 1 - #DDDED0
 * Grey 2- #F0F1EC
 * Background: #FFFFFF
 */

/* BUTTON STYLES */

.jfx-button {
    -fx-background-color: #00589F;
    -fx-text-fill: white;
}

/* REQUEST MANAGER BUTTON STYLES */

.request-manager-button-1 {
    -fx-text-fill: black;
    -fx-color-label-visible: #00589F;
    -fx-background-color: #F0F1EC;
    -fx-background-radius: 0;
    -fx-font-size: 16;
}

.request-manager-button-2 {
    -fx-text-fill: black;
    -fx-color-label-visible: #00589F;
    -fx-background-color: #DDDED0;
    -fx-background-radius: 0;
    -fx-font-size: 16;
}

.cancel-button {
    -fx-text-fill: black;
    -fx-background-radius: 0;
    -fx-background-color: #efefef;
}


/* TAB PANE STYLES */

.jfx-tab-pane .headers-region {
    -fx-background-color: #00589F;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #00589F;
}

.jfx-tab-pane .tab-header-area .jfx-rippler{
    -fx-rippler-fill: #FFFFFF;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: #FFFFFF;
}

.jfx-date-picker {
    -jfx-default-color: #00589F;
}

.jfx-time-picker {
    -jfx-default-color: #00589F;
}

.jfx-text-area {
    -jfx-focus-color: #00589F;
}

.jfx-text-field {
    -jfx-focus-color: #00589F;
}

/* SLIDER */

.jfx-slider-style {
    -jfx-indicator-position: right;
}

.jfx-slider-style > .thumb {
    -fx-background-color: #03a9f4;
}

.jfx-slider-style .track {
    -fx-background-color: #ff5252;
    -fx-pref-height: 5px;
    -fx-pref-width: 5px;
}

.jfx-slider-style .sliderValue {
    -fx-stroke: WHITE;
    -fx-font-size: 10.0;
}

/* CUSTOM STYLES */

#rounded-container {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-color: white;
    -fx-border-radius: 5;
    -fx-border-width: 5;
}

#transparent {
    -fx-background: transparent;
}

#minimap-viewport {
    -fx-stroke-width: 2;
    -fx-stroke: #00589F;

    -fx-fill: transparent;
}

#confirm-button {
    -fx-background-color: #4caf50;
    -fx-text-fill: black;
}

#delete-button {
    -fx-background-color: #ff5252;
    -fx-text-fill: white;
}

#cancel-button {
    -fx-background-color: #DDDED0;
    -fx-text-fill: black;
}

.tree-table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-text-fill: -fx-text-inner-color;
}
.tree-table-row-cell:selected {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-focus-color;
    -fx-background-insets: 0, 1, 2;
}

.tree-table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, derive(-fx-control-inner-background,-5%);
    -fx-background-insets: 0, 0 0 1 0;
}

.tree-table-row-cell:selected:odd {
    -fx-background-color: -fx-focus-color, -fx-cell-focus-inner-border, -fx-focus-color;
    -fx-background-insets: 0, 1, 2;
}
