/* Colors:
 * Main - #00589F
 * Accent: #5084d1
 * Dark Accent: #003070
 * Gray 1 - #DDDED0
 * Grey 2- #F0F1EC
 * Background: #FFFFFF
 */

.jfx-tab-pane .headers-region {
    -fx-background-color: #00589F;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #00589F;
}

.jfx-tab-pane .tab-header-area .jfx-rippler{
    -fx-rippler-fill: #FFFFFF;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: #5084d1;
}

.jfx-date-picker {
    -jfx-default-color: #00589F;
}

.jfx-time-picker {
    -jfx-default-color: #00589F;
}

.jfx-text-area {
    -jfx-focus-color: #00589F;
}

.jfx-text-field {
    -jfx-focus-color: #00589F;
}