/*
    The main tab bar
*/

.jfx-tab-pane .headers-region {
    -fx-background-color:  #00589F;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color:  #00589F;
}
.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #FFFFFF;
    -fx-stroke-width: 40pt;
}

.tab {

    -fx-pref-width: 180pt
}